@model IEnumerable<SATProject.DATA.EF.Cours>

@{
    ViewBag.Title = "Courses";
}
<h1 style="text-align:center;">@ViewBag.Title</h1>
@if ((User.IsInRole("Admin") || User.IsInRole("Scheduling")) && Request.IsAuthenticated)
{
    <div class="btn btn-warning" style="margin:4px 4px 4px 4px">
        @Html.ActionLink("Create New", "Create")
    </div>
}
    <table class="table">
        <tr>
            <th>
                Course
            </th>
            <th>
                Curriculum
            </th>
            <th>
                Course Description
            </th>
            <th>
                Credit Hours
            </th>
            @if ((User.IsInRole("Admin") || User.IsInRole("Scheduling")) && Request.IsAuthenticated)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            }
            @*<th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curriculum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                @if ((User.IsInRole("Admin") || User.IsInRole("Scheduling")) && Request.IsAuthenticated)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                    </td>
                }
            </tr>
        }

    </table>
