@model IEnumerable<SATProject.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollments";
}
<h1 style="text-align:center">@ViewBag.Title</h1>

<div class="btn btn-warning" style="margin:4px 4px 4px 4px">
    @Html.ActionLink("Create New", "Create")
</div>
<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Course Name
        </th>
        <th>
            Student Enrolled
        </th>
        <th>
            Start Date
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledClass.Cours.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem=>item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledClass.StartDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
            </td>
        </tr>
    }

</table>
